@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family: 'Raleway', sans-serif;
    height: 75vh;
    background: white; 
    color: navy;
    overflow: hidden;
    text-align: center;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0.3rem;
}

h1, h2 {
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: 150;
}

h2 {
    font-size: 1.3rem;
    color: navy;
    font-weight: bold;
}

h3 {
    text-decoration: underline;
}

p {
    text-align: left;
    font-size: 17px
}

.txt-type > .txt {
    border-right: 0.2rem solid red;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .personal {
    padding: 20px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .footer {
      padding: 20px;
      text-align: center;
      margin-top: 50px;
  }

  #page2, #page3 {
      padding: 2.5rem;
  }

  
  #page2 .info {
      text-align: justify;
      font-size: 17px;
      color: navy;
  }

  #page2 #floated {
      float: left;
      width: 700px;
  }



  /* #tips .tips {
      text-align: justify;
      font-size: 25px;
  } */



  

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;

    }
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}




/* url('dnd.jpg') no-repeat center center / cover; */